footer {
  position: relative;
  width: 100%;
  padding: 40px 5vw;
  padding-bottom: 80px;
  background: #e8cfb1;
}
.footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer-ul-container {
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.category {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  list-style: none;
}
.category-title {
  grid-column: span 2;
  text-transform: capitalize;
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
}
.category .footer-link {
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(6, 5, 5, 0.75);
}
.footer-link:hover {
  color: #000000;
}
.footer-title,
.info {
  color: rgba(45, 41, 41, 0.75);
  margin: 20px 0;
  text-transform: capitalize;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}
.footer-title {
  margin-top: 80px;
  color: #000000;
  font-size: 25px;
}
br {
  font-size: 20px;
}
.footer-social-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.social-links {
  color: #010000;
  margin-left: 20px;
  text-transform: capitalize;
}
.social-link:nth-child(1) {
  margin-left: 0;
}
.footer-credit {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  background: #c0a27e;
}
